@tailwind base;
@tailwind components;
@tailwind utilities;

.social-icon {
  @apply w-8 h-8 fill-gray-500 hover:fill-white
}

section > .hero {
  @apply hidden md:grid ;
  grid-template-columns: .4fr .6fr;
}

button.bg-primary:hover {
  @apply duration-300 scale-105;
  @apply bg-[#ff5c2a];
}

input[type="email"],
input[type="password"] {
  @apply bg-gray-200;
  @apply block w-full p-2 my-2 rounded-md;
}

button {
  @apply text-gray-600 font-bold;
  @apply block w-full p-2 my-2 rounded-md;
}

button[type="submit"] {
  @apply bg-primary text-white;
}

input:disabled {
  @apply cursor-not-allowed bg-gray-300;
}

button:disabled {
  @apply cursor-not-allowed opacity-50;
}